p, a {
    animation: color-change 200s 50;
}

@keyframes color-change {
    0% { color: darkblue; }
    10% { color: darkgoldenrod; }
    20% { color: orangered; }
    30% { color: blue; }
    40% { color: pink; }
    50% { color: green; }
    60% { color: royalblue; }
    70% { color: black; }
    80% { color: hotpink}
    90% { color: cadetblue; }
    100% { color: red; }
}

body {
    margin: 3.7vw;
    margin-top: 3.9vw;
    background: white;
    }



body, a{
        color: black;

}

.columns {
    display: flex;
}

.col {
    margin-right: 3.5vw;
    flex:1;
}

.col2 {
    padding-right: 0px;
    flex: 1;
}

.bio {
        position: fixed;
}

p{
    font-family: helvetica;
    font-size: 2.5vw;
    line-height: 3vw;
    letter-spacing: .05vw;
    word-spacing: .05vw;
    font-weight: regular;
    margin: 0px;
    padding: 0px;
}

.outdent {
    margin-left: 3.5vw;
    text-indent: -3.5vw;
}

a{ 
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    mix-blend-mode: difference;
}

@media only screen and (max-width: 599px) {
    
body {
    margin: 7.4vw;
    margin-top: 6.8vw;
    margin-bottom: 7.8vw;
    }
    
p {
    font-size: 4.8vw;
    line-height: 5.7vw;
    letter-spacing: .1vw;
    word-spacing: .1vw;
        }    
    
.columns {
        display: inline;
    }
    
.col {margin-right: 0px;
}
   
}