@font-face {
    font-family: akg;
    src: url(akg.otf);
}

body, h1, h2, h3 {
    font-family: akg, helvetica;
    font-weight: normal;
    font-size: 5.75vh;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 0;
}

h1, h2, h3 {
    margin: 0px;
}

body {
    margin: 2.5%;
}

p {
    text-align: justify;
    text-align-last: justify;
    margin-top: 8.5vh;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: justify;
    text-align-last: justify;
}

.firsthead {
    padding-top: 8.5vh;
}

.mainhead {
    padding-top: 8.5vh;
}

h3 {
    text-align: center;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ol {
    padding: 0;
    margin: 0;
}

ol.key {
    list-style-type:upper-roman;
}

li {
    text-align: right;
    list-style-position: inside;
}

img {
    width:100%;
    padding: 1% 0;
}

.contents {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 2.5% 0 2.5%;
}

.hidecontents {
    visibility: hidden;
}

.item {
    padding: 0;
    margin: 0;
}

.content {
    padding: 0;
    margin: 0;
}

.main {
    justify-content: space-around;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 2.5% 0 2.5%;
    width: 95%;
}

.header {
    width: 95vw;
    z-index: 10;
    background-color: white;
    position: fixed;
    top:0px;
    left:0px;
    padding: 0 2.5%;
}

/* Desktop */
@media all and (min-width: 800px) {

    body, h1, h2, h3 {
        font-family: akg, helvetica;
        font-size: 36pt;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.4;
        padding: 0;
    }
    
    p {
        margin-top: 5vh;
    }
    
    .contents {
        height: 94vh;
        display: fixed;
        flex-flow: column;
        justify-content: space-between;
        width: 450px;
        padding: 3vh 1.5vw 3vh 1.5vw;
        overflow: scroll;
    }

    .content {
        padding-top: 3vh;
    }

    .main {
        margin: 0;
        position: absolute;
        width: 60vw;
        padding: 0vh 1.5vw 3vh 1.5vw;
        top:0px;
        left:35vw;
        overflow: scroll;
    }
    
    .mainhead {
        padding-top: 2.5vh;
    }
    
    .about {
        margin: 0;
        position: absolute;
        width: 65vw;
        padding: 3vh 1.5vw 3vh 1.5vw;
        top:0px;
        right:0px;
        overflow: scroll;
    }
        
    .header {
        visibility: hidden;
    }
    
    .hidecontents {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        position: fixed;
        top: 0px;
        left: 0px;
        visibility: visible;
        height: 94vh;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 450px;
        padding: 3vh 1.5vw 3vh 1.5vw;
        overflow: scroll;
    }

    .firsthead {
        padding-top: 2.5vh;
    }
}