body {
    margin: 0px;
    background: white;
    min-height: -webkit-fill-available;
    color: black;
    font-family: helvetica;
    font-size: 28px;
    line-height: 32.5px;
    letter-spacing: .7px;
    word-spacing: -.5px;
    font-weight: regular;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    height: -webkit-fill-available;
}

p {
    margin: 0px;
    padding: 28px;
}

@media only screen and (max-width: 599px) {
    
body {
    font-size: 20px;
    line-height: 24.5px;
    }
    
p {
    padding: 24px;
    }