body {
    margin: 0px;
    background: white;
    min-height: -webkit-fill-available;
    color: black;
    font-family: helvetica;
    font-size: 28px;
    line-height: 32.5px;
    letter-spacing: .7px;
    word-spacing: -.5px;
    font-weight: regular;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 660px;
}

html {
    height: -webkit-fill-available;
    display: grid;
    justify-content: center;
}

p {
    margin: 0px;
    padding: 26px 28px;
}

.last {
    padding-bottom: 28px;
}

.new {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}


@media only screen and (max-width: 599px) {
    
body {
    font-size: 19px;
    line-height: 23px;
    width: auto;
    }
    
p {
    padding: 22px 24px;
    }
    

.last {
    padding-bottom: 26px;
}